html{
	position: relative;
	min-height: 100%;
}
body{
	 margin: 0 0 64px;
}
footer{
	position: absolute;
	left: 0;
	bottom: 0;
	height: 64px;
	width: 100%;
	background: #2f3036;
}
h1{
	font-family: 'Open Sans', sans-serif;

	font-size: 60px;
}

.title_container {
	text-align:center;
	width: 100%
}
.title_wrapper {
    display:inline-block;
    margin: 0 auto;
}
.class1 #home_icon{
	width: 96px;
	height: 96px;

}
.class2{

}

}
.class1, .class2{
    float: left;
}

/*	Form Styling for Donate*/
.form-style-8{
	font-family: 'Open Sans', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}
.form-style-8 h2{
	background: #4D4D4D;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #FFF;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 input[type="button"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}
.form-style-8 input[type="button"]:hover{
	background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}
/*End of form styling for donate*/


/*Navigation Menu Styling*/
.nav-container{
	width: 100%;
	margin: 0 auto;
	padding-top: 0;
}
.nav-container ul {
	list-style:none;
	float: left;
	width: 100%;
	padding:0;
}
.nav-container ul li {
	display:inline;
}
.nav-container ul a {
	float: left;
	display:block;
	margin: 0;
	width: 20%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background: #2f3036;
	text-decoration: none;
}
li:hover a {
	background: #19c589;
}
/*End of Navigation menu styling*/

.clear {
	clear:both;
}
.social-media{
}
.resize{
	width: 64px;
	height: 64px;
	float: right;
	padding-left: 10px;
}

#image{
	background-color: grey;
	width:100%;
	height:600px;
	/*margin: 0 auto;*/
	background-image: url("img/img1.jpg");
	background-size: cover;
}
#about_shelter{
	padding-top:25px;
	width: 400px;
	height: 300px;
	top:40%;
	bottom:40%;
	margin-left: 40px;
}
#about-volunteering-text{
	margin-left: 40px;
	width:60%;
	float: left;
	font-family: 'Open Sans', sans-serif;
}
#about-volunteering{
	background-color: grey;
	width:100%;
	height:600px;
}
img{
	width: 325px;
	height: 325px;
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;

}
#picture-container{
	margin: 0 auto;
	width: 95%;
	margin-bottom: 20px;
}
